* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Martel Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.container {
    max-width: 1440px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin: 12px 0;

    img {
        width: 24px;
        height: 24px;
        padding: 2px;
    }

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        display: flex;
        column-gap: 48px;
    }

    a {
        display: flex;
        text-align: center;
        text-decoration: none;
        text-decoration-color: #FFE145;
        transition: all .3s;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-color: #FFE145;
        transition: all .3s;
    }

    button {
        width: 48px;
        height: 48px;
        border-radius: round($number: 25px);
        border-color: transparent;
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 20px -5px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 20px -5px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 20px -5px rgba(34, 60, 80, 0.2);
        cursor: pointer;
    }

    span {
        font-family: 'Martel Sans', sans-serif;
        color: #9093A6;
        font-weight: 700;
        font-size: 16px;
    }
}

.logo {
    img {
        width: 184px;
    }
    width: 184px;
    background-color: transparent;
    border: none;
    cursor: pointer;    
}

.header-hr {
    border-top: 1px solid #D4D7E5;
    color: #D4D7E5;
    margin-bottom: 25px;
}

/* navbar */


.main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-text {
        position: relative;
        bottom: 100px;
        left: 1px;

        .main-text-order {
            color: #3F4255;
            font-size: 54px;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            line-height: 64px;
            margin-bottom: 88px;
            letter-spacing: 5%;
        }
    }

    button {
        padding: 18.5px 24px;
        background-color: transparent;
        border: none;
        border: 2px solid #FFE145;
        border-radius: 4px;
        margin-right: 24px;
        cursor: pointer;
        transition: all .3s;
    }

    button h4 {
        font-family: 'Martel Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #3F4255;
        line-height: 20px;
    }

    button p {
        font-family: 'Martel Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #3F4255;
        line-height: 16px;
    }
}

.img {
    max-width: 803px;
    max-height: 706px;

    img {
        max-width: 803px;
        max-height: 706px;
    }
}

.order-btn:hover {
    color: #FFE145;
    background-color: #FFE145;
    transition: all .3s;
}

